<!DOCTYPE html>
<html>
<head>
    <title>Books List</title>
</head>
<body>
   <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Modified Time</th>
              <th>Size</th>
          </tr>
      </thead>
    <tbody>
   {% for fileObj in files %}
   <tr>
        <td>
        <a href="{{url_for('index',reqPath=fileObj['fLink'])}}">
            <span>
            <i class="{{fileObj['fIcon']}}" style="margin-right:0.3em"></i>
            {{fileObj['name']}}
            </span>
        </a>
        </td>
        <td>{{fileObj['name']}}</td>
        <td>{{fileObj['mTime']}}</td>
        <td>{{fileObj['size']}}</td>

   </tr>
   {%endfor%}
    </tbody>
   </table>
</body>
</html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<style>
table {table-layout: fixed;width: 100%;}
table td,th {word-wrap:break-word;}
th {text-align: left;}
</style>